Repository itcaffenet-Ljubinje/GGnet: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: resolve image upload test failures
  backend/app/api/targets.py
  backend/app/routes/images.py
  backend/tests/conftest.py
  backend/tests/test_image_conversion.py
  backend/tests/test_phase4_sessions.py
Due: backend

fix: remove unnecessary React imports from frontend components
  frontend/src/App.test.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FileUpload.tsx
  frontend/src/components/ImageManager.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/MachineModal.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/ProgressBar.tsx
  frontend/src/components/ui/StatusBadge.tsx
  frontend/src/main.tsx
Due: frontend

fix: remove remaining React imports from frontend components
  frontend/src/components/NetworkBootMonitor.tsx
  frontend/src/components/SessionManager.tsx
  frontend/src/components/SystemMonitor.tsx
  frontend/src/components/TargetManager.tsx
  frontend/src/components/notifications/index.tsx
  frontend/src/pages/ArrayConfigurationPage.tsx
  frontend/src/pages/ImagesPage.tsx
  frontend/src/pages/MachinesPage.tsx
  frontend/src/pages/NetworkBootPage.tsx
  frontend/src/pages/SessionsPage.tsx
  frontend/src/pages/SystemMonitorPage.tsx
  frontend/src/pages/TargetsPage.tsx
Due: frontend

fix: remove unused imports from frontend components
  frontend/src/components/ImageManager.tsx
  frontend/src/components/Layout.tsx
  frontend/src/pages/DashboardPage.tsx
Due: frontend

fix: resolve global variable redeclarations in frontend
  frontend/src/components/FileUpload.tsx
  frontend/src/components/ImageManager.tsx
  frontend/src/components/SessionManager.tsx
  frontend/src/components/TargetManager.tsx
  frontend/src/components/notifications/index.tsx
  frontend/src/test/setup.ts
Due: frontend

fix: remove unused imports and interfaces from frontend components
  frontend/src/components/NetworkBootMonitor.tsx
  frontend/src/components/SessionManager.tsx
  frontend/src/components/SystemMonitor.tsx
Due: frontend

fix: remove remaining unused imports and variables from frontend
  frontend/src/components/TargetManager.tsx
  frontend/src/components/tables/DataTable.tsx
  frontend/src/hooks/useRealTimeUpdates.ts
  frontend/src/pages/ArrayConfigurationPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MachinesPage.tsx
  frontend/src/pages/MonitoringPage.tsx
  frontend/src/stores/authStore.ts
Due: frontend

fix: resolve remaining critical ESLint errors in frontend
  frontend/src/components/ImageManager.tsx
  frontend/src/components/SessionManager.tsx
  frontend/src/components/SystemMonitor.tsx
  frontend/src/components/TargetManager.tsx
  frontend/src/pages/DashboardPage.tsx
Due: frontend

fix: resolve final ESLint errors in frontend
  frontend/src/components/SystemMonitor.tsx
  frontend/src/components/TargetManager.tsx
  frontend/src/pages/DashboardPage.tsx
Due: frontend

fix: resolve final ESLint errors in frontend
  frontend/src/pages/DashboardPage.tsx
Due: frontend

fix(frontend): resolve ESLint multiline errors
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/test/setup.ts
Due: frontend

fix(tests): resolve model constructor and async fixture issues
  backend/tests/test_phase4_sessions.py
  frontend/src/App.test.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Input.tsx
Due: frontend

fix: resolve remaining TypeScript and model constructor errors
  backend/tests/test_phase4_sessions.py
  frontend/src/components/FileUpload.tsx
  frontend/src/components/TargetManager.tsx
  frontend/src/components/notifications/index.tsx
  frontend/src/main.tsx
Due: frontend

fix: resolve session API endpoint and authentication issues
  backend/tests/test_phase4_sessions.py
Due: none

fix: resolve async/await and mocking issues in session tests
  backend/tests/test_phase4_sessions.py
Due: none

fix: resolve Session model field mismatches in sessions API
  backend/app/api/sessions.py
  backend/tests/test_phase4_sessions.py
Due: backend

fix: complete session orchestration test suite - ALL 7 TESTS PASSING! ðŸŽ‰
  backend/app/api/sessions.py
  backend/app/core/dependencies.py
  backend/tests/test_phase4_sessions.py
Due: backend

fix: complete all remaining test failures - ALL TESTS NOW PASSING!
  backend/app/routes/images.py
  backend/tests/test_image_conversion.py
  backend/tests/test_targets_api.py
Due: backend

fix: resolve final test failures - ALL 129 TESTS NOW PASSING!
  backend/cache/0a76b182e33625940397b14543966536.cache
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/28d11e4d981469c82c45caf1328e5433.cache
  backend/cache/69f40cfa0413e000877480c5342be04f.cache
  backend/cache/74c3983a143884273ee2b3d24cda6a2d.cache
  backend/cache/74e53c338015a4a9f226cabd620cd23c.cache
  backend/cache/8713e90f4213b2bea992939674788486.cache
  backend/cache/8c193773eb010f8e61b83702fe58dc22.cache
  backend/cache/9c3bba785fbcf3f7008c7f671502a6b1.cache
  backend/cache/a4bc0b8d11c0dc42f0bea41daaa9ceba.cache
  backend/cache/ab29794bdddd259447e8d68bf3737b41.cache
  backend/cache/b20c2449925e0b74d6921e358ddd2284.cache
  backend/cache/c340bbbc3f4908eee286001a23423d52.cache
  backend/cache/cc38d1265d49ed0e17442660c58ed091.cache
  backend/cache/d9d8172ffa4e21f955e8ad125f9dbc32.cache
  backend/test_form.py
  backend/test_login.py
  backend/test_simple.py
  backend/test_simple_login.py
  backend/tests/test_targetcli_adapter.py
Due: none

fix: add audit_logs table migration for CI/CD PostgreSQL environment
  .github/workflows/ci.yml
  backend/alembic/versions/20251006_2046_85906ae6532a_add_audit_logs_table.py
  backend/cache/189b36735947530284747436b2e65c42.cache
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/67ba1441c68d69f0a58582ea7671b587.cache
  backend/cache/716293c578efe7d8a176ffa338c8d5e3.cache
  backend/cache/74e53c338015a4a9f226cabd620cd23c.cache
  backend/cache/8713e90f4213b2bea992939674788486.cache
  backend/cache/8ff09b532da1a7afa3b733322b605f4c.cache
  backend/cache/926df0d72dfdc654647d7b3150b4fd3a.cache
  backend/cache/c340bbbc3f4908eee286001a23423d52.cache
  backend/cache/d9d8172ffa4e21f955e8ad125f9dbc32.cache
Due: none

fix: create proper initial Alembic migration for all tables
  backend/alembic/versions/20251006_1224_341970ce4222_add_targets_table_for_iscsi_target_.py
  backend/alembic/versions/20251006_2046_85906ae6532a_add_audit_logs_table.py
  backend/alembic/versions/20251006_2103_9d9e5558e847_initial_migration_create_all_tables.py
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/5490fc6ca1712bc879969d7f17e8df50.cache
  backend/cache/5e5c3d5f311499e2412c397d17791e10.cache
  backend/cache/6838cf57848d552f11295bf89c67bf96.cache
  backend/cache/74e53c338015a4a9f226cabd620cd23c.cache
  backend/cache/8713e90f4213b2bea992939674788486.cache
  backend/cache/8d7d4d71942c48a86077442b8ee79686.cache
  backend/cache/c340bbbc3f4908eee286001a23423d52.cache
  backend/cache/c9803213d0ce906a11f3fbc04f4fb677.cache
  backend/cache/d9d8172ffa4e21f955e8ad125f9dbc32.cache
Due: none

fix: implement database lazy initialization to prevent CI/CD import errors
  backend/app/core/database.py
  backend/app/core/dependencies.py
  backend/app/routes/file_upload.py
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/1d0c37303d227c610533fa6c0fe0b97b.cache
  backend/cache/2bd7b0e41083c529c44c8979f2db6c13.cache
  backend/cache/57e95f39886be327d332f3ef1bb27103.cache
  backend/cache/5ff8b69c64af35dbaf26e709228d19e0.cache
  backend/cache/74e53c338015a4a9f226cabd620cd23c.cache
  backend/cache/8713e90f4213b2bea992939674788486.cache
  backend/cache/c340bbbc3f4908eee286001a23423d52.cache
  backend/cache/c367c78f7bb640238c4390dc7a20fce9.cache
  backend/cache/d9d8172ffa4e21f955e8ad125f9dbc32.cache
  backend/check_admin.py
  backend/create_admin.py
  backend/debug_login.py
  backend/tests/conftest.py
Due: backend

fix: resolve Redis segmentation fault issues in CI/CD environment
  .github/workflows/ci.yml
  backend/app/core/cache.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/1c5fcd0a79047c0604d8c3115a124a70.cache
  backend/cache/4796755bcac6f3ac2c26a40640251ef8.cache
  backend/cache/4c5eee35874692f735b8abd37d02f415.cache
  backend/cache/6bf8019e86e1524c44900fa7963d0633.cache
  backend/cache/74e53c338015a4a9f226cabd620cd23c.cache
  backend/cache/8713e90f4213b2bea992939674788486.cache
  backend/cache/c340bbbc3f4908eee286001a23423d52.cache
  backend/cache/d067305defc3b0670e0b48b5e8cc7708.cache
  backend/cache/d9d8172ffa4e21f955e8ad125f9dbc32.cache
  backend/cache/e29de56ed673ff30fc855433cf67e29a.cache
  backend/cache/e994916a6b8dcfca79976bfb16a1f033.cache
  backend/requirements.txt
Due: backend

fix: resolve frontend ESLint errors and improve TypeScript types
  frontend/src/App.test.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FileUpload.tsx
  frontend/src/components/ImageManager.tsx
  frontend/src/components/MachineModal.tsx
  frontend/src/components/notifications/index.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/hooks/useRealTimeUpdates.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/api.ts
  frontend/src/main.tsx
Due: frontend

fix: resolve Redis segmentation fault and React import issues in CI/CD
  .github/workflows/ci.yml
  backend/cache/07e950764416f0de3faaecb796b8e548.cache
  backend/cache/1396cc16e721ae291fac1cd99e976dea.cache
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/1ef570763cd065f5477c261b4df05ec1.cache
  backend/cache/74e53c338015a4a9f226cabd620cd23c.cache
  backend/cache/8713e90f4213b2bea992939674788486.cache
  backend/pytest.ini
  backend/tests/conftest.py
  backend/tests/test_redis_integration.py
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Modal.tsx
Due: frontend

fix: resolve TypeScript build errors in frontend
  frontend/src/components/FileUpload.tsx
  frontend/src/components/ImageManager.tsx
  frontend/src/components/MachineModal.tsx
  frontend/src/components/notifications/index.tsx
  frontend/src/hooks/useRealTimeUpdates.ts
  frontend/src/lib/api.ts
  frontend/src/main.tsx
  frontend/src/pages/MachinesPage.tsx
Due: frontend

fix: clean up error handling type assertions in ImageManager
  frontend/src/components/ImageManager.tsx
Due: frontend

fix: handle unknown error type in FileUpload component
  frontend/src/components/FileUpload.tsx
Due: frontend

fix: resolve PostgreSQL concurrent operation errors in audit logging
  backend/app/core/dependencies.py
Due: backend

fix: simplify audit logging to always require database session
  backend/app/core/dependencies.py
Due: backend

fix: restore audit logging with proper session management
  backend/app/core/dependencies.py
Due: backend

fix: use AsyncSession context manager for audit logging
  backend/app/core/dependencies.py
Due: backend

fix: improve test database session transaction management
  backend/tests/conftest.py
Due: none

fix: use NullPool for tests to prevent event loop conflicts
  backend/tests/conftest.py
Due: none

fix: add fallback password hashing and bcrypt length limit handling
  backend/app/core/security.py
  backend/tests/conftest.py
Due: backend

fix: resolve password hashing and JWT token type issues
  backend/app/core/dependencies.py
  backend/app/core/security.py
Due: backend

fix: resolve foreign key constraint violations in tests
  backend/tests/test_image_conversion.py
  backend/tests/test_phase4_sessions.py
Due: none

fix: use correct MachineStatus enum values in test_list_sessions
  backend/tests/test_phase4_sessions.py
Due: none

fix: use correct Target model fields in test_list_sessions
  backend/tests/test_phase4_sessions.py
Due: none

fix: add required target_id field to Target objects in test
  backend/tests/test_phase4_sessions.py
Due: none

Path conditions:
  backend: any of: backend/app/, but not: backend/venv/, frontend/node_modules/, backend/tests/, frontend/src/test/, *.pyc, *.pyo, *.pyd, __pycache__, .git, .coverage, coverage.xml, htmlcov/, .pytest_cache/, .mypy_cache/, .tox/, dist/, build/, *.egg-info/
  frontend: any of: frontend/src/, but not: backend/venv/, frontend/node_modules/, backend/tests/, frontend/src/test/, *.pyc, *.pyo, *.pyd, __pycache__, .git, .coverage, coverage.xml, htmlcov/, .pytest_cache/, .mypy_cache/, .tox/, dist/, build/, *.egg-info/
