Repository itcaffenet-Ljubinje/GGnet: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Target Proxmox VE 9+ (Python 3.13+)
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  scripts/install_ggnet.sh
Due: none

Add machines API with auto-provisioning
  backend/app/api/v1/machines.py
  backend/app/api/v1/schemas.py
  backend/app/main.py
  backend/tests/test_api_machines.py
  backend/tests/test_provisioning_dev_host.py
Due: backend

Add Disk Mode web UI
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/components/ErrorBanner.tsx
  frontend/src/components/StatusBadge.tsx
  frontend/src/main.tsx
  frontend/src/pages/GameDisksPage.test.tsx
  frontend/src/pages/GameDisksPage.tsx
  frontend/src/pages/MachinesPage.test.tsx
  frontend/src/pages/MachinesPage.tsx
  frontend/src/styles.css
  frontend/src/test/fixtures.ts
  frontend/src/test/setup.ts
  frontend/src/useAsyncAction.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend

Add agent heartbeat API and agent status in the UI
  agent/README.md
  backend/alembic/versions/0002_agent_heartbeat_fields.py
  backend/app/api/v1/agent.py
  backend/app/api/v1/errors.py
  backend/app/api/v1/schemas.py
  backend/app/db/models.py
  backend/app/main.py
  backend/tests/test_api_agent.py
  backend/tests/test_api_machines.py
  frontend/src/api.ts
  frontend/src/components/AgentState.test.tsx
  frontend/src/components/AgentState.tsx
  frontend/src/pages/MachinesPage.tsx
  frontend/src/test/fixtures.ts
Due: backend, frontend

Add ggnet-agent Windows service (C#/.NET 10)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  CONTRIBUTING.md
  agent/GgnetAgent.slnx
  agent/README.md
  agent/scripts/install.ps1
  agent/scripts/uninstall.ps1
  agent/src/GgnetAgent/AgentOptions.cs
  agent/src/GgnetAgent/AgentWorker.cs
  agent/src/GgnetAgent/GgnetAgent.csproj
  agent/src/GgnetAgent/Iscsi.cs
  agent/src/GgnetAgent/IscsiNames.cs
  agent/src/GgnetAgent/Planner.cs
  agent/src/GgnetAgent/Program.cs
  agent/src/GgnetAgent/Protocol.cs
  agent/src/GgnetAgent/ServerClient.cs
  agent/src/GgnetAgent/appsettings.json
  agent/tests/GgnetAgent.Tests/AgentWorkerTests.cs
  agent/tests/GgnetAgent.Tests/Fakes.cs
  agent/tests/GgnetAgent.Tests/GgnetAgent.Tests.csproj
  agent/tests/GgnetAgent.Tests/PlannerTests.cs
  agent/tests/GgnetAgent.Tests/ServerAndScriptTests.cs
Due: none

Make the agent's iSCSI connect script idempotent (0.1.1)
  agent/src/GgnetAgent/GgnetAgent.csproj
  agent/src/GgnetAgent/Iscsi.cs
  agent/tests/GgnetAgent.Tests/AgentWorkerTests.cs
  agent/tests/GgnetAgent.Tests/ServerAndScriptTests.cs
Due: none

Use one shared iSCSI target with per-client ACLs
  CLAUDE.md
  backend/app/api/v1/machines.py
  backend/app/config.py
  backend/app/db/models.py
  backend/app/iscsi_manager.py
  backend/app/services/provisioning.py
  backend/tests/fakehost.py
  backend/tests/test_api_agent.py
  backend/tests/test_api_machines.py
  backend/tests/test_iscsi_dev_target.py
  backend/tests/test_iscsi_manager.py
  backend/tests/test_provisioning.py
  backend/tests/test_provisioning_dev_host.py
  deploy/README.md
  deploy/dnsmasq/ggnet-proxydhcp.conf
  deploy/ipxe/embed.ipxe
  deploy/zfs/zfs.conf
  docs/architecture.md
  scripts/install_ggnet.sh
Due: backend

docs: replace Super Client with Keep Writeback and automatic discard
  docs/architecture.md
Due: none

Discard client writebacks automatically; add Keep Writeback
  agent/README.md
  agent/src/GgnetAgent/AgentWorker.cs
  agent/src/GgnetAgent/Protocol.cs
  agent/tests/GgnetAgent.Tests/AgentWorkerTests.cs
  backend/alembic/versions/0003_writeback_lifecycle.py
  backend/app/api/deps.py
  backend/app/api/v1/agent.py
  backend/app/api/v1/machines.py
  backend/app/api/v1/schemas.py
  backend/app/config.py
  backend/app/db/models.py
  backend/app/iscsi_manager.py
  backend/app/main.py
  backend/app/runner.py
  backend/app/services/provisioning.py
  backend/app/services/writebacks.py
  backend/app/zfs_manager.py
  backend/tests/fakehost.py
  backend/tests/test_writebacks.py
  docs/architecture.md
  frontend/src/api.test.ts
  frontend/src/api.ts
  frontend/src/pages/MachinesPage.test.tsx
  frontend/src/pages/MachinesPage.tsx
  frontend/src/test/fixtures.ts
  scripts/install_ggnet.sh
Due: backend, frontend

Let the ZFS dev test tolerate other clones in the dev tree
  backend/tests/test_zfs_dev_dataset.py
Due: none

Add Edit on PC for draft game disks
  backend/alembic/versions/0004_edit_master.py
  backend/app/api/v1/agent.py
  backend/app/api/v1/game_disks.py
  backend/app/api/v1/machines.py
  backend/app/api/v1/schemas.py
  backend/app/db/models.py
  backend/app/services/provisioning.py
  backend/app/services/writebacks.py
  backend/tests/fakehost.py
  backend/tests/test_api_game_disks.py
  backend/tests/test_writebacks.py
  docs/architecture.md
  frontend/src/api.ts
  frontend/src/components/StatusBadge.tsx
  frontend/src/pages/GameDisksPage.test.tsx
  frontend/src/pages/GameDisksPage.tsx
  frontend/src/pages/MachinesPage.tsx
  frontend/src/styles.css
  frontend/src/test/fixtures.ts
Due: backend, frontend

Agent: use the next free drive letter when the preferred one is taken
  agent/README.md
  agent/scripts/install.ps1
  agent/src/GgnetAgent/AgentWorker.cs
  agent/src/GgnetAgent/GgnetAgent.csproj
  agent/src/GgnetAgent/Iscsi.cs
  agent/tests/GgnetAgent.Tests/AgentWorkerTests.cs
  agent/tests/GgnetAgent.Tests/Fakes.cs
  agent/tests/GgnetAgent.Tests/ServerAndScriptTests.cs
Due: none

Agent: run scripts as -EncodedCommand; explain an empty disk
  agent/src/GgnetAgent/AgentWorker.cs
  agent/src/GgnetAgent/GgnetAgent.csproj
  agent/src/GgnetAgent/Iscsi.cs
  agent/tests/GgnetAgent.Tests/ServerAndScriptTests.cs
Due: none

Agent: a service restart is no longer a reboot
  agent/README.md
  agent/scripts/install.ps1
  agent/scripts/uninstall.ps1
  agent/src/GgnetAgent/AgentWorker.cs
  agent/src/GgnetAgent/GgnetAgent.csproj
  agent/src/GgnetAgent/Protocol.cs
  agent/tests/GgnetAgent.Tests/AgentWorkerTests.cs
  backend/app/services/writebacks.py
  docs/architecture.md
Due: backend

Set the game disk drive letter per machine in the UI
  agent/README.md
  agent/src/GgnetAgent/AgentWorker.cs
  agent/src/GgnetAgent/GgnetAgent.csproj
  agent/src/GgnetAgent/Planner.cs
  agent/src/GgnetAgent/Protocol.cs
  agent/tests/GgnetAgent.Tests/AgentWorkerTests.cs
  agent/tests/GgnetAgent.Tests/PlannerTests.cs
  backend/alembic/versions/0005_drive_letter.py
  backend/app/api/v1/agent.py
  backend/app/api/v1/machines.py
  backend/app/api/v1/schemas.py
  backend/app/db/models.py
  backend/tests/test_api_agent.py
  frontend/src/api.ts
  frontend/src/pages/MachinesPage.test.tsx
  frontend/src/pages/MachinesPage.tsx
  frontend/src/test/fixtures.ts
Due: backend, frontend

Apply Writebacks with zfs promote instead of send|recv
  backend/app/api/v1/machines.py
  backend/app/runner.py
  backend/app/services/provisioning.py
  backend/app/zfs_manager.py
  backend/tests/fakehost.py
  backend/tests/test_writebacks.py
  backend/tests/test_zfs_dev_dataset.py
  docs/architecture.md
Due: backend

Images: show versions and writebacks of a game disk
  backend/app/api/v1/game_disks.py
  backend/app/api/v1/machines.py
  backend/app/api/v1/schemas.py
  backend/app/services/provisioning.py
  backend/app/zfs_manager.py
  backend/tests/fakehost.py
  backend/tests/test_writebacks.py
  backend/tests/test_zfs_dev_dataset.py
  backend/tests/test_zfs_manager.py
  docs/architecture.md
  frontend/src/api.ts
  frontend/src/components/DiskDetails.test.tsx
  frontend/src/components/DiskDetails.tsx
  frontend/src/format.ts
  frontend/src/pages/GameDisksPage.test.tsx
  frontend/src/pages/GameDisksPage.tsx
  frontend/src/styles.css
Due: backend, frontend

Snapshot pin per machine and ggRock's image status
  backend/alembic/versions/0006_snapshot_pin.py
  backend/app/api/v1/game_disks.py
  backend/app/api/v1/machines.py
  backend/app/api/v1/schemas.py
  backend/app/db/models.py
  backend/app/services/writebacks.py
  backend/tests/test_writebacks.py
  docs/architecture.md
  frontend/src/api.ts
  frontend/src/components/DiskDetails.test.tsx
  frontend/src/components/DiskDetails.tsx
  frontend/src/components/ImageStatus.tsx
  frontend/src/pages/MachinesPage.test.tsx
  frontend/src/pages/MachinesPage.tsx
  frontend/src/styles.css
  frontend/src/test/fixtures.ts
Due: backend, frontend

Retention: remove old versions and inactive writebacks, reserve pool space
  backend/alembic/versions/0007_settings.py
  backend/app/api/v1/schemas.py
  backend/app/api/v1/settings.py
  backend/app/config.py
  backend/app/db/models.py
  backend/app/main.py
  backend/app/services/provisioning.py
  backend/app/services/retention.py
  backend/app/zfs_manager.py
  backend/tests/fakehost.py
  backend/tests/test_retention.py
  backend/tests/test_writebacks.py
  backend/tests/test_zfs_dev_dataset.py
  docs/architecture.md
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/pages/SettingsPage.test.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/styles.css
Due: backend, frontend

Machines: IP, link speed, uptime and hardware from the agent
  agent/README.md
  agent/src/GgnetAgent/AgentWorker.cs
  agent/src/GgnetAgent/GgnetAgent.csproj
  agent/src/GgnetAgent/Inventory.cs
  agent/src/GgnetAgent/Program.cs
  agent/src/GgnetAgent/Protocol.cs
  agent/tests/GgnetAgent.Tests/Fakes.cs
  agent/tests/GgnetAgent.Tests/InventoryTests.cs
  backend/alembic/versions/0008_agent_inventory.py
  backend/app/api/v1/agent.py
  backend/app/api/v1/schemas.py
  backend/app/db/models.py
  backend/tests/test_api_agent.py
  frontend/src/api.ts
  frontend/src/components/AgentState.test.tsx
  frontend/src/components/AgentState.tsx
  frontend/src/components/MachineDetails.test.tsx
  frontend/src/components/MachineDetails.tsx
  frontend/src/format.test.ts
  frontend/src/format.ts
  frontend/src/pages/MachinesPage.tsx
  frontend/src/styles.css
  frontend/src/test/fixtures.ts
Due: backend, frontend

Machines: Sent, Received and Speed per PC from LIO
  backend/app/api/deps.py
  backend/app/api/v1/machines.py
  backend/app/api/v1/schemas.py
  backend/app/iscsi_manager.py
  backend/app/services/traffic.py
  backend/tests/fakehost.py
  backend/tests/test_traffic.py
  docs/architecture.md
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/format.ts
  frontend/src/pages/MachinesPage.test.tsx
  frontend/src/pages/MachinesPage.tsx
Due: backend, frontend

Machines: Turn On (Wake-on-LAN), Shutdown and Reboot
  agent/README.md
  agent/src/GgnetAgent/AgentWorker.cs
  agent/src/GgnetAgent/GgnetAgent.csproj
  agent/src/GgnetAgent/Power.cs
  agent/src/GgnetAgent/Program.cs
  agent/src/GgnetAgent/Protocol.cs
  agent/tests/GgnetAgent.Tests/Fakes.cs
  agent/tests/GgnetAgent.Tests/PowerTests.cs
  backend/alembic/versions/0009_power_command.py
  backend/app/api/deps.py
  backend/app/api/v1/agent.py
  backend/app/api/v1/machines.py
  backend/app/api/v1/schemas.py
  backend/app/db/models.py
  backend/app/services/power.py
  backend/tests/test_api_agent.py
  backend/tests/test_power.py
  docs/architecture.md
  frontend/src/api.ts
  frontend/src/components/AgentState.tsx
  frontend/src/pages/MachinesPage.test.tsx
  frontend/src/pages/MachinesPage.tsx
  frontend/src/test/fixtures.ts
Due: backend, frontend

Path conditions:
  backend: any of: backend/app/, but not: backend/venv/, frontend/node_modules/, backend/tests/, frontend/src/test/, *.pyc, *.pyo, *.pyd, __pycache__, .git, .coverage, coverage.xml, htmlcov/, .pytest_cache/, .mypy_cache/, .tox/, dist/, build/, *.egg-info/
  frontend: any of: frontend/src/, but not: backend/venv/, frontend/node_modules/, backend/tests/, frontend/src/test/, *.pyc, *.pyo, *.pyd, __pycache__, .git, .coverage, coverage.xml, htmlcov/, .pytest_cache/, .mypy_cache/, .tox/, dist/, build/, *.egg-info/
