Repository itcaffenet-Ljubinje/GGnet: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: add package-lock.json to version control for CI/CD
  .gitignore
  frontend/package-lock.json
Due: none

refactor: remove Docker services from CI workflow
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

refactor: regenerate CI workflow for ubuntu-latest only
  .github/workflows/ci.yml
Due: none

Refactor CI workflow for backend tests
  .github/workflows/ci.yml
Due: none

fix: add fallback for package-lock.json in CI workflow
  .github/workflows/ci.yml
Due: none

remove: delete Debian workflow that uses Docker
  .github/workflows/debian.yml
Due: none

fix: correct React Query mutation function types in VMsPage
  frontend/src/pages/VMsPage.tsx
Due: frontend

fix: resolve all frontend linting errors and warnings
  frontend/e2e/dashboard.spec.ts
  frontend/e2e/setup/auth.setup.ts
  frontend/src/App.test.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/SessionManager.tsx
  frontend/src/components/TargetManager.tsx
  frontend/src/components/charts/UsageChart.tsx
Due: frontend

fix: resolve remaining frontend linting errors and warnings
  .github/codeql-config.yml
  .github/dependabot.yml
  frontend/src/components/TargetManager.tsx
  frontend/src/components/charts/NetworkChartContent.tsx
  frontend/src/components/notifications/index.tsx
  frontend/src/components/ui/Icon.tsx
  frontend/src/lib/api-optimized.ts
  frontend/src/lib/api.ts
  frontend/src/pages/ActivitiesPage.tsx
  frontend/src/pages/ArrayConfigurationPage.tsx
  frontend/src/pages/BatchOperationsPage.tsx
Due: frontend

fix: resolve Promise<unknown> type error in api-optimized.ts
  frontend/src/lib/api-optimized.ts
Due: frontend

fix: resolve all frontend linting errors and update Node.js version
  .github/workflows/ci.yml
  frontend/src/lib/api-optimized.ts
  frontend/src/pages/ArrayConfigurationPage.tsx
  frontend/src/pages/BatchOperationsPage.tsx
  frontend/src/pages/ClientsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/ImageImportExportPage.tsx
  frontend/src/pages/SchedulerPage.tsx
  frontend/src/pages/VMsPage.tsx
  frontend/src/pages/WritebacksPage.tsx
  frontend/src/utils/performance.ts
  frontend/vite.config.ts
Due: frontend

fix: SQLAlchemy 2.0+ compatibility - combine where() conditions with & operator
  backend/app/api/sessions.py
Due: backend

Fix critical bugs: compression middleware, CI/CD quality gates, and TypeScript errors
  .github/workflows/ci.yml
  backend/Dockerfile
  backend/app/main.py
  backend/app/middleware/compression.py
  backend/tests/conftest.py
  backend/tests/test_middleware_caching.py
  frontend/src/pages/ArrayConfigurationPage.tsx
  frontend/src/pages/ImageImportExportPage.tsx
  frontend/src/utils/performance.ts
  frontend/vite.config.ts
Due: backend, frontend

Fix linting errors and database pool configuration
  backend/app/core/database.py
  frontend/src/pages/BatchOperationsPage.tsx
  frontend/src/pages/ClientsPage.tsx
  frontend/vite.config.ts
Due: backend, frontend

fix: exclude Playwright e2e tests from Vitest in vitest.config.ts
  frontend/vitest.config.ts
Due: none

fix: password verification and admin script imports
  backend/app/core/security.py
  backend/scripts/create_admin.py
Due: backend

fix: E2E test failures - improve selectors and wait conditions
  frontend/e2e/dashboard.spec.ts
  frontend/e2e/images.spec.ts
  frontend/e2e/login.spec.ts
  frontend/e2e/machines.spec.ts
Due: none

Ensure backend stays running during E2E tests in CI
  .github/workflows/ci.yml
  frontend/playwright.config.ts
Due: none

Fix E2E tests: Use dev mode and correct host configuration
  frontend/playwright.config.ts
Due: none

Add comprehensive test coverage: Phase 1 Quick Wins
  frontend/TEST_COVERAGE_PLAN.md
  frontend/TEST_COVERAGE_PROGRESS.md
  frontend/TEST_COVERAGE_QUICK_START.md
  frontend/src/__tests__/setup/mocks.ts
  frontend/src/__tests__/setup/test-utils.tsx
  frontend/src/components/ui/Button.test.tsx
  frontend/src/components/ui/Button.test.tsx.example
  frontend/src/components/ui/Input.test.tsx
  frontend/src/components/ui/StatusBadge.test.tsx
  frontend/src/pages/NotFoundPage.test.tsx
  frontend/src/utils/statusMapping.test.ts
Due: frontend

Add Phase 1 P0 tests: Auth store, ErrorBoundary, LoginPage
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/pages/LoginPage.test.tsx
  frontend/src/stores/authStore.test.ts
Due: frontend

Update test coverage progress: Phase 1 P0 complete
  frontend/TEST_COVERAGE_PROGRESS.md
Due: none

Fix all linting errors in test files
  frontend/.eslintrc.json
  frontend/src/__tests__/setup/mocks.ts
  frontend/src/__tests__/setup/test-utils.tsx
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ui/Button.test.tsx
  frontend/src/components/ui/Input.test.tsx
  frontend/src/components/ui/StatusBadge.test.tsx
  frontend/src/pages/LoginPage.test.tsx
  frontend/src/pages/NotFoundPage.test.tsx
  frontend/src/stores/authStore.test.ts
  frontend/src/utils/statusMapping.test.ts
Due: frontend

Fix screen import in test files
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ui/Button.test.tsx
  frontend/src/components/ui/Input.test.tsx
  frontend/src/components/ui/StatusBadge.test.tsx
  frontend/src/pages/LoginPage.test.tsx
  frontend/src/pages/NotFoundPage.test.tsx
Due: frontend

Fix ESLint no-redeclare rule for test files
  frontend/.eslintrc.json
Due: none

Fix E2E test login navigation issues
  frontend/e2e/dashboard.spec.ts
  frontend/e2e/images.spec.ts
  frontend/e2e/login.spec.ts
  frontend/e2e/machines.spec.ts
  frontend/src/pages/LoginPage.tsx
Due: frontend

Fix redirect test to use Promise.all pattern
  frontend/e2e/login.spec.ts
Due: none

Fix API baseURL configuration for E2E tests
  .github/workflows/ci.yml
  frontend/src/lib/api.ts
Due: frontend

Add error logging to login function for debugging
  frontend/src/stores/authStore.ts
Due: frontend

Add Vite environment variable type definitions
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
Due: frontend

Add Dependabot configuration file
  .github/dependabot.yml
Due: none

Initial commit
  LICENSE
Due: none

Initial project structure
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  VERSION
  agent/README.md
  backend/app/__init__.py
  backend/app/config.py
  backend/app/main.py
  backend/pytest.ini
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/tests/test_health.py
  frontend/README.md
  scripts/install_ggnet.sh
  scripts/uninstall_ggnet.sh
Due: backend

Add CLAUDE.md with project context and safety rules
  CLAUDE.md
Due: none

Add ZFSManager configured from config.toml [storage]
  backend/app/config.py
  backend/app/runner.py
  backend/app/zfs_manager.py
  backend/pytest.ini
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/test_zfs_dev_dataset.py
  backend/tests/test_zfs_manager.py
Due: backend

Add ISCSIManager bound to the configured service IP
  backend/app/iscsi_manager.py
  backend/tests/test_iscsi_dev_target.py
  backend/tests/test_iscsi_manager.py
Due: backend

Add game disks API with database models and Provisioner
  backend/alembic.ini
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/0001_machines_and_game_disks.py
  backend/app/api/__init__.py
  backend/app/api/deps.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/errors.py
  backend/app/api/v1/game_disks.py
  backend/app/api/v1/schemas.py
  backend/app/db/__init__.py
  backend/app/db/models.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/services/__init__.py
  backend/app/services/provisioning.py
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/fakehost.py
  backend/tests/test_api_game_disks.py
  backend/tests/test_migrations.py
  backend/tests/test_provisioning.py
  scripts/install_ggnet.sh
Due: backend

CI: move GitHub Actions to Node 24 runtimes
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  backend: any of: backend/app/, but not: backend/venv/, frontend/node_modules/, backend/tests/, frontend/src/test/, *.pyc, *.pyo, *.pyd, __pycache__, .git, .coverage, coverage.xml, htmlcov/, .pytest_cache/, .mypy_cache/, .tox/, dist/, build/, *.egg-info/
  frontend: any of: frontend/src/, but not: backend/venv/, frontend/node_modules/, backend/tests/, frontend/src/test/, *.pyc, *.pyo, *.pyd, __pycache__, .git, .coverage, coverage.xml, htmlcov/, .pytest_cache/, .mypy_cache/, .tox/, dist/, build/, *.egg-info/
