Repository itcaffenet-Ljubinje/GGnet: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: GGnet v2.1.0 - Complete ggRock Parity (95%)
  GGROCK_PARITY_FINAL.md
  docker-compose.yml
  docker/dnsmasq/dnsmasq.conf
Due: none

fix: correct import path for log_user_activity in hardware.py
  backend/app/routes/hardware.py
Due: backend

chore(cleanup): Phase 0 - Repository analysis and inventory
  PHASE_0_ANALYSIS.md
  PHASE_0_ASSUMPTIONS.md
  PHASE_0_CHECKLIST.md
  PHASE_0_TESTS.md
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/2a04393ba86be9fe0535243786274497.cache
  backend/cache/45457a7392f8b9098d43c6b1856ec60f.cache
  backend/cache/4b70933305b3b351a614a33ad2d25e80.cache
  backend/cache/6c6037375660023a0936aea2893458f4.cache
  backend/cache/b01862738359eb1938d9ce196a2b0743.cache
  backend/cache/d0fe2a7df337c0a863c4fe5b408f93fa.cache
  backend/cache/e9e6130856c35cd00f7cdcc5cd12d5cb.cache
  backend/cache/f714bd6c19bc8276bb80e9fb6820144e.cache
  repo_inventory.json
  repo_inventory_detailed.json
  scripts/analyze_repo.py
Due: none

chore(cleanup): Phase 1 - Detailed cleanup plan
  PHASE_1_CLEANUP_PLAN.md
Due: none

docs: add final project summary
  FINAL_SUMMARY.md
Due: none

chore(cleanup): archive legacy utility scripts before removal
  archive/legacy/20251008_phase2.tar.gz
  archive/legacy/20251008_phase2/change_password.py
  archive/legacy/20251008_phase2/change_password_linux.py
  archive/legacy/20251008_phase2/check_admin.py
  archive/legacy/20251008_phase2/check_database_status.py
  archive/legacy/20251008_phase2/setup_database_linux.py
  archive/legacy/20251008_phase2/setup_database_postgresql.py
  archive/legacy/20251008_phase2/setup_postgresql.sh
  archive/legacy/20251008_phase2/test_database_connection.py
Due: none

chore(cleanup): remove archived legacy scripts
  backend/check_admin.py
  change_password.py
  change_password_linux.py
  check_database_status.py
  setup_database_linux.py
  setup_database_postgresql.py
  setup_postgresql.sh
  test_database_connection.py
Due: none

chore(cleanup): update .gitignore for cache files
  .gitignore
Due: none

docs: Phase 2 cleanup execution summary
  PHASE_2_CLEANUP_SUMMARY.md
Due: none

docs: add comprehensive production deployment guide
  DEPLOYMENT_GUIDE.md
Due: none

docs: add ggRock images repository analysis
  GGROCK_IMAGES_ANALYSIS.md
Due: none

release: GGnet v2.1.0 production release
  RELEASE_v2.1.0.md
Due: none

feat: Phase B - Add missing ggRock packages and tools
  infra/tftp/download-ipxe.sh
  install.sh
  scripts/ggnet-create-bridge
Due: none

feat: Phase C - WinPE deployment framework (100% ggRock parity)
  backend/app/main.py
  backend/app/routes/winpe.py
  scripts/winpe/README.md
  scripts/winpe/deploy-windows.ps1
  scripts/winpe/inject-drivers.ps1
  scripts/winpe/partition-disk.ps1
Due: backend

feat: add complete automated installation script
  scripts/install-complete.sh
Due: none

docs: final validation and completion report
  FINAL_VALIDATION.md
Due: none

feat: Implement performance optimizations and bundle splitting
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
  frontend/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ImageManager.tsx
  frontend/src/components/SystemMonitor.tsx
  frontend/src/components/charts/UsageChart.tsx
  frontend/src/components/ui/Icon.tsx
  frontend/src/components/ui/index.ts
  frontend/src/main.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/utils/performance.ts
  frontend/vite.config.ts
Due: frontend

feat: Optimize frontend performance and bundle size
  OPTIMIZATION_COMPLETE.md
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
  frontend/.env.example
  frontend/OPTIMIZATION_CHECKLIST.md
  frontend/PERFORMANCE_OPTIMIZATIONS.md
  frontend/QUICK_START_OPTIMIZED.md
  frontend/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/SystemMonitor.tsx
  frontend/src/components/charts/UsageChart.tsx
  frontend/src/lib/api.ts
  frontend/src/main.tsx
  frontend/vite.config.ts
Due: frontend

feat: Implement performance optimizations
  OPTIMIZATION_SUMMARY.md
  PERFORMANCE_DEPLOYMENT_GUIDE.md
  PERFORMANCE_OPTIMIZATIONS.md
  PERFORMANCE_QUICK_REFERENCE.md
  backend/alembic/versions/20251008_1718_add_performance_indexes.py
  backend/app/core/database.py
  backend/app/main.py
  backend/app/models/image.py
  backend/app/models/machine.py
  backend/app/models/session.py
  frontend/nginx.conf
  frontend/package.json
  frontend/src/App.tsx
  frontend/vite.config.ts
Due: backend, frontend

feat: Add Gzip middleware and frontend bundle analysis
  backend/app/main.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/SystemMonitorPage.tsx
  frontend/stats.html
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: backend, frontend

feat: Implement performance optimizations and caching
  PERFORMANCE_OPTIMIZATIONS.md
  backend/app/middleware/caching.py
  backend/app/middleware/compression.py
  backend/requirements.txt
  frontend/index.html
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/manifest.json
  frontend/public/sw.js
  frontend/src/App.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/charts/NetworkChart.tsx
  frontend/src/components/charts/NetworkChartContent.tsx
  frontend/src/components/charts/UsageChart.tsx
  frontend/src/components/charts/UsageChartContent.tsx
  frontend/src/components/charts/index.ts
  frontend/src/lib/api-optimized.ts
  frontend/src/lib/index.ts
  frontend/src/main.tsx
  frontend/src/pages/MonitoringPage.tsx
  frontend/src/utils/serviceWorker.ts
  frontend/vite.config.ts
Due: backend, frontend

feat: Optimize frontend performance and asset delivery
  frontend/Dockerfile
  frontend/bundle-stats.html
  frontend/index.html
  frontend/nginx.conf
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/pages/SystemMonitorPage.tsx
  frontend/vite.config.ts
Due: frontend

Create dependabot.yml
  .github/dependabot.yml
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Add GitHub Actions workflows: CI/CD pipeline and CodeQL security analysis
  .github/codeql-config.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  Dockerfile
  compose.debug.yaml
  compose.yaml
Due: none

Add CI/CD pipeline with Codecov integration
  .github/workflows/ci.yml
  backend/pytest.ini
  codecov.yml
Due: none

feat: Add CI/CD pipeline, E2E testing, monitoring, and code quality improvements
  .github/dependabot.yml
  CI_CD_COMPLETE_SUMMARY.md
  CI_CD_QUICK_START.md
  CI_CD_SETUP.md
  CODECOV_SETUP_STEPS.md
  CODE_QUALITY_COMPLETE_SUMMARY.md
  DEPENDABOT_SETUP.md
  E2E_TESTING_SETUP_COMPLETE.md
  MONITORING_COMPLETE_SUMMARY.md
  SESSION_COMPLETE_SUMMARY.md
  SETUP_CHECKLIST.md
  backend/app/main.py
  backend/scripts/README_ADMIN_SCRIPTS.md
  backend/scripts/backup.py
  backend/scripts/create_admin.py
  backend/seed_admin.py
  docker-compose.yml
  docker/alertmanager/README.md
  docker/alertmanager/alertmanager.yml
  docker/grafana/dashboards/ggnet-detailed.json
  docker/prometheus/alerts.yml
  frontend/.gitignore
  frontend/e2e/README.md
  frontend/e2e/dashboard.spec.ts
  frontend/e2e/images.spec.ts
  frontend/e2e/login.spec.ts
  frontend/e2e/machines.spec.ts
  frontend/e2e/setup/auth.setup.ts
  frontend/playwright.config.ts
Due: backend

Fix import error: Make ImageConverter import optional with fallback implementation
  backend/app/utils/image_import_export.py
Due: backend

Fix JUnit XML file path and ensure it's always generated for Codecov
  .github/workflows/ci.yml
Due: none

Auto-commit pending changes before rebase - PR/MR synchronize
  CODECOV_SETUP_STEPS.md
  CODECOV_TEST.md
  HOW_TO_TEST_CODECOV.md
  SETUP_CHECKLIST.md
Due: none

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: none

Delete .github/codeql-config.yml
  .github/codeql-config.yml
Due: none

Delete .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: none

fix: make npm cache non-blocking in CI workflow
  .github/workflows/ci.yml
Due: none

feat: replace CI workflows with unified Debian build workflow
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/debian.yml
Due: none

fix: remove legacy test files causing pytest collection errors
  backend/pytest.ini
  backend/test_login_correct.py
  backend/test_login_direct.py
Due: none

fix: correct Docker build context and entrypoint script
  .github/workflows/debian.yml
  backend/Dockerfile
  backend/docker-entrypoint.sh
Due: none

feat: restore CI workflow with improvements
  .github/workflows/ci.yml
Due: none

Path conditions:
  backend: any of: backend/app/, but not: backend/venv/, frontend/node_modules/, backend/tests/, frontend/src/test/, *.pyc, *.pyo, *.pyd, __pycache__, .git, .coverage, coverage.xml, htmlcov/, .pytest_cache/, .mypy_cache/, .tox/, dist/, build/, *.egg-info/
  frontend: any of: frontend/src/, but not: backend/venv/, frontend/node_modules/, backend/tests/, frontend/src/test/, *.pyc, *.pyo, *.pyd, __pycache__, .git, .coverage, coverage.xml, htmlcov/, .pytest_cache/, .mypy_cache/, .tox/, dist/, build/, *.egg-info/
