Repository itcaffenet-Ljubinje/GGnet: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: update frontend Dockerfile to use correct npm ci syntax
  frontend/Dockerfile
Due: none

fix: import StrictMode from react in main.tsx
  frontend/src/main.tsx
Due: frontend

fix: ensure StrictMode is properly imported (force rebuild)
  frontend/src/main.tsx
Due: frontend

fix: remove --max-warnings 0 from ESLint to allow warnings
  frontend/package.json
Due: none

refactor: replace 'any' types with proper interfaces in ImageManager and MachineModal
  frontend/src/components/ImageManager.tsx
  frontend/src/components/MachineModal.tsx
Due: frontend

refactor: replace 'any' types with proper interfaces in api.ts
  frontend/src/lib/api.ts
Due: frontend

refactor: replace 'any' types in SessionManager and TargetManager
  frontend/src/components/SessionManager.tsx
  frontend/src/components/TargetManager.tsx
Due: frontend

refactor: replace 'any' types in remaining components and test files
  frontend/src/components/NetworkBootMonitor.tsx
  frontend/src/components/SystemMonitor.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MachinesPage.tsx
  frontend/src/pages/MonitoringPage.tsx
  frontend/src/setupTests.ts
  frontend/src/stores/authStore.ts
  frontend/src/test/setup.ts
Due: frontend

refactor: replace 'any' types in useRealTimeUpdates and DataTable
  frontend/src/components/tables/DataTable.tsx
  frontend/src/hooks/useRealTimeUpdates.ts
Due: frontend

docs: add comprehensive ESLint cleanup summary
  ESLINT_CLEANUP_SUMMARY.md
Due: none

fix: resolve TypeScript build errors after ESLint cleanup
  frontend/src/components/MachineModal.tsx
  frontend/src/components/SystemMonitor.tsx
  frontend/src/components/tables/DataTable.tsx
  frontend/src/pages/DashboardPage.tsx
Due: frontend

feat: add automatic admin user creation on startup
  ADMIN_LOGIN_GUIDE.md
  backend/Dockerfile
  backend/create_admin_postgres.py
  backend/docker-entrypoint.sh
  backend/init_admin.py
  backend/test_login_direct.py
  backend/test_password.py
Due: none

feat: add Vite proxy config and project start guide
  START_PROJECT.md
  backend/cache/1f32ceea190c26037ea4a49a3a62ff10.cache
  backend/cache/a07b4e430ed0d51ca4937a0c9ff390af.cache
  backend/test_login_correct.py
  frontend/vite.config.ts
Due: none

fix: resolve blank white screen issue in frontend
  frontend/src/index.css
  frontend/src/main.tsx
Due: frontend

debug: add ultra minimal test version to isolate rendering issue
  frontend/TEST_RENDER.md
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/pages/LoginPage.test.tsx
Due: frontend

debug: simplify App.test.tsx to minimal React component
  frontend/src/App.test.tsx
Due: frontend

debug: add vanilla JS test version to isolate React dependency issue
  frontend/index.html
  frontend/src/main-simple.tsx
Due: frontend

fix: restore original main.tsx and App.tsx with full React setup
  frontend/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.tsx
Due: frontend

fix: disable React Fast Refresh plugin causing NS_BINDING_ABORTED
  frontend/vite.config.ts
Due: none

feat: add simplified LoginPage without react-hook-form
  frontend/src/App.tsx
  frontend/src/pages/LoginPage.simple.tsx
Due: frontend

fix: configure Vite HMR WebSocket and use simplified LoginPage
  frontend/vite.config.ts
Due: none

docs: add comprehensive startup and troubleshooting guides
  FINAL_STARTUP_GUIDE.md
  FULL_FRONTEND_RESET.bat
  RESTART_FRONTEND.md
Due: none

debug: add console logging to index.html
  backend/cache/1f32ceea190c26037ea4a49a3a62ff10.cache
  backend/cache/a07b4e430ed0d51ca4937a0c9ff390af.cache
  frontend/index.html
Due: none

feat: restore original dark mode frontend with all components
  backend/cache/3f4a9ed06df1fa3acc0f6cde675147f6.cache
  backend/cache/be97ec04a1c0e388d4c3964b0f4169e1.cache
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/vite.config.ts
Due: frontend

fix: prevent WebSocket connection attempts before authentication
  backend/cache/4c62e8f2b6c2468354576ea7b07d1052.cache
  backend/cache/d854257432d60c328a20cff22c2c9236.cache
  frontend/src/App.test.tsx
  frontend/src/hooks/useRealTimeUpdates.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/main-simple.tsx
  frontend/src/pages/LoginPage.simple.tsx
  frontend/src/pages/LoginPage.test.tsx
Due: frontend

fix: resolve infinite re-render loop in useWebSocket hook
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/b0cb28ed6c687e8da2793ec93b71db9a.cache
  backend/cache/f9e037f1bc7bd52315d4a42e1022b2fc.cache
  frontend/src/hooks/useWebSocket.ts
Due: frontend

fix: resolve CORS issues for Images page
  backend/app/main.py
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/a94a39976df69b2bcca60765e0373104.cache
  backend/cache/d8976fca81e7bc15dbdd6734425b940a.cache
  frontend/vite.config.ts
Due: backend

fix: handle TargetListResponse wrapper in TargetManager
  backend/cache/2d7221589d3cd454b07509f51768cb50.cache
  backend/cache/74a129946727a7e796cacf2f664f2c9c.cache
  frontend/src/components/TargetManager.tsx
Due: frontend

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

fix: add /api prefix to all API calls to work with Vite proxy
  frontend/src/components/ImageManager.tsx
  frontend/src/components/SessionManager.tsx
  frontend/src/components/TargetManager.tsx
  frontend/src/lib/api.ts
  frontend/src/stores/authStore.ts
  frontend/vite.config.ts
Due: frontend

docs: add comprehensive ggRock comparison and roadmap
  GGROCK_COMPARISON.md
  MISSING_FEATURES_ROADMAP.md
Due: none

docs: add SecureBoot and Windows Toolchain comprehensive guides
  docs/SECUREBOOT_SETUP.md
  docs/WINDOWS_TOOLCHAIN_GUIDE.md
Due: none

docs: add comprehensive Phase 1 testing plan
  docs/PHASE1_TESTING_PLAN.md
Due: none

docs: Phase 1 completion summary
  PHASE1_COMPLETION.md
Due: none

feat(phase2): add Grafana monitoring and noVNC console
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/1b5799d6abdd96ab5211ea9807fae45a.cache
  backend/cache/24bb0c7c1f79cc5ddeeeacca8c8565ff.cache
  backend/cache/3ccdff5d2ad67a4a422c4d171ae7a158.cache
  backend/cache/51cf5c5d7657b639654fecdc4ed082bd.cache
  backend/cache/5a4bf56e388a4774c7c3a130d72b0a2d.cache
  backend/cache/7bb86862858dda4b977c3b7d21212448.cache
  backend/cache/8a37c971493de01583dbbe9a8e27e56a.cache
  backend/cache/911d132676010a0dbcadccb64f1d4da3.cache
  backend/cache/a226e44978e62f9fc80ad8717f0c155e.cache
  backend/cache/b3d071d8b44d87bb28b90d865c58038e.cache
  backend/cache/b5c2a34bca0cf2688c0e60acf6f8d621.cache
  backend/cache/c9a92280f4b00ec45f208f112debc2dc.cache
  backend/cache/ca0a97e967be5c385e971cc400799642.cache
  backend/cache/cd157aee053b110d72a308b90f78a782.cache
  backend/cache/de3c931ddee28189675f509230ea1622.cache
  backend/cache/e9cefbbbe6e5f41c70e8d02d2435b0fa.cache
  docker-compose.yml
  docker/grafana/README.md
  docker/grafana/dashboards/ggnet-overview.json
  docker/grafana/provisioning/dashboards/default.yml
  docker/grafana/provisioning/datasources/prometheus.yml
  docker/prometheus/prometheus.yml
Due: none

feat(phase2): complete enhanced monitoring and management
  PHASE2_COMPLETION.md
  backend/app/main.py
  backend/app/routes/hardware.py
  backend/cache/15897335a1014a049c94ca7ed92861b0.cache
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/f4876c47f83e7aefddec7a3864c62f8c.cache
  backend/scripts/preflight.py
  scripts/hardware_detect.py
  systemd/ggnet-preflight.service
Due: backend

docs: comprehensive README and CHANGELOG
  CHANGELOG.md
  README.md
Due: none

feat: add CLI tools and automated installer (ggRock-style)
  GGROCK_FULL_ANALYSIS.md
  backend/cache/07258bf12eef76c6eeb188eeece4e087.cache
  backend/cache/1962a11396d63dc19923d194f6e2793f.cache
  backend/cache/5a36a191fdddc3494ae6f8da582c3bd9.cache
  backend/cache/80036c67395dfde7a0f3e20d5a397320.cache
  backend/cache/a80559c6c7b37c93bec0b95f349548c6.cache
  backend/cache/c071d7bf1df83daf0c968065f7618209.cache
  install.sh
  scripts/ggnet
  scripts/ggnet-iscsi
Due: none

Path conditions:
  backend: any of: backend/app/, but not: backend/venv/, frontend/node_modules/, backend/tests/, frontend/src/test/, *.pyc, *.pyo, *.pyd, __pycache__, .git, .coverage, coverage.xml, htmlcov/, .pytest_cache/, .mypy_cache/, .tox/, dist/, build/, *.egg-info/
  frontend: any of: frontend/src/, but not: backend/venv/, frontend/node_modules/, backend/tests/, frontend/src/test/, *.pyc, *.pyo, *.pyd, __pycache__, .git, .coverage, coverage.xml, htmlcov/, .pytest_cache/, .mypy_cache/, .tox/, dist/, build/, *.egg-info/
